country.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="Country">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Country_Name" type="xs:string"/>
                <xs:element name="Country_Capital" type="xs:string"/>
                <xs:element name="Country_Foundation" type="xs:string"/>
                <xs:element name="Country_Continet" type="xs:string"/>
                <xs:element name="Country_Population" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
